/* @font-face {
    font-family: 'Roboto', sans-serif;
    src: url('../fonts/Roboto/Roboto-Regular.ttf') format('ttf');

    font-family: 'Inter', sans-serif;
    src: url('../fonts/Inter/static/Inter-Regular.ttf') format('ttf');

    font-family: 'Karla', sans-serif;
    src: url('../fonts/Karla/static/Karla-Regular.ttf') format('ttf');
} */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Karla:wght@200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');



:root {
    --bs-blue: #4169e1;
    --bs-indigo: #32127a;
    --bs-purple: #800075;
    --bs-pink: #FF92A5;
    --bs-red: #AC001E;
    --bs-orange: #FFB52E;
    --bs-yellow: #FFFF00;
    --bs-green: #088F8F;
    --bs-teal: #023020;
    --bs-cyan: #00FFFF;
    --bs-primary: #7480ff;
    --bs-secondary: #4b4d50;
    --bs-success: #00d389;
    --bs-info: #00b6ff;
    --bs-warning: #ffbe00;
    --bs-danger: #ff5861;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --bs-bg-color: #f3f3f3;
    --bs-text-color: #757575;
    --bs-font-roboto: 'Roboto', sans-serif;
    --bs-font-karla: 'Karla', sans-serif;
    --bs-font-inter: 'Inter', sans-serif;
    --bs-opacity-primary: rgba(116, 128, 255, 0.3);
    --bs-opacity-secondary: rgba(75, 77, 80, 0.3);
    --bs-opacity-success: rgba(0, 211, 137, 0.3);
    --bs-opacity-info: rgba(0, 182, 255, 0.3);
    --bs-opacity-warning: rgba(255, 190, 0, 0.3);
    --bs-opacity-danger: rgba(255, 88, 97, 0.3);
    --bs-opacity-dark: rgba(33, 37, 41, 0.3);
    --bs-opacity-white: rgba(255, 255, 255, 0.3);
}







/* normal css  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--bs-font-roboto);
    color: var(--bs-text-color);
    font-weight: 500;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

canvas {
    display: block;
    height: 100%;
    width: 100%;
}


/* custom class for design  */
/* bg color  */
.bg-box {
    background: var(--bs-bg-color) !important;
}

.bg-blue {
    background: var(--bs-blue) !important;
}

.bg-indigo {
    background: var(--bs-indigo) !important;
}

.bg-purple {
    background: var(--bs-purple) !important;
}

.bg-pink {
    background: var(--bs-pink) !important;
}

.bg-red {
    background: var(--bs-red) !important;
}

.bg-orange {
    background: var(--bs-orange) !important;
}

.bg-yellow {
    background: var(--bs-yellow) !important;
}

.bg-green {
    background: var(--bs-green) !important;
}

.bg-teal {
    background: var(--bs-teal) !important;
}

.bg-cyan {
    background: var(--bs-cyan) !important;
}

.bg-opacity-primary {
    background: var(--bs-opacity-primary) !important;
}

.bg-opacity-secondary {
    background: var(--bs-opacity-secondary) !important;
}

.bg-opacity-success {
    background: var(--bs-opacity-success) !important;
}

.bg-opacity-info {
    background: var(--bs-opacity-info) !important;
}

.bg-opacity-warning {
    background: var(--bs-opacity-warning) !important;
}

.bg-opacity-danger {
    background: var(--bs-opacity-danger) !important;
}

.bg-opacity-light {
    background: var(--bs-opacity-white) !important;
}

.bg-opacity-dark {
    background: var(--bs-opacity-dark) !important;
}



/* text color  */
.text-blue {
    color: var(--bs-blue) !important;
}

.text-indigo {
    color: var(--bs-indigo) !important;
}

.text-purple {
    color: var(--bs-purple) !important;
}

.text-pink {
    color: var(--bs-pink) !important;
}

.text-red {
    color: var(--bs-red) !important;
}

.text-orange {
    color: var(--bs-orange) !important;
}

.text-yellow {
    color: var(--bs-yellow) !important;
}

.text-green {
    color: var(--bs-green) !important;
}

.text-teal {
    color: var(--bs-teal) !important;
}

.text-cyan {
    color: var(--bs-cyan) !important;
}


.text-xs {
    font-size: 0.7rem;
}

/* border  */

.border-2 {
    border: 2px solid var(--bs-bg-color);
}

.border-3 {
    border: 3px solid var(--bs-bg-color);
}

.border-4 {
    border: 4px solid var(--bs-bg-color);
}

.border-5 {
    border: 5px solid var(--bs-bg-color);
}

.border-top-2 {
    border-top: 2px solid var(--bs-bg-color);
}

.border-top-3 {
    border-top: 3px solid var(--bs-bg-color);
}

.border-top-4 {
    border-top: 4px solid var(--bs-bg-color);
}

.border-top-5 {
    border-top: 5px solid var(--bs-bg-color);
}



.border-end-2 {
    border-right: 2px solid var(--bs-bg-color);
}

.border-end-3 {
    border-right: 3px solid var(--bs-bg-color);
}

.border-end-4 {
    border-right: 4px solid var(--bs-bg-color);
}

.border-end-5 {
    border-right: 5px solid var(--bs-bg-color);
}


.border-bottom-2 {
    border-bottom: 2px solid var(--bs-bg-color);
}

.border-bottom-3 {
    border-bottom: 3px solid var(--bs-bg-color);
}

.border-bottom-4 {
    border-bottom: 4px solid var(--bs-bg-color);
}

.border-bottom-5 {
    border-bottom: 5px solid var(--bs-bg-color);
}

.border-start-2 {
    border-left: 2px solid var(--bs-bg-color);
}

.border-start-3 {
    border-left: 3px solid var(--bs-bg-color);
}

.border-start-4 {
    border-left: 4px solid var(--bs-bg-color);
}

.border-start-5 {
    border-left: 5px solid var(--bs-bg-color);
}

/* media Object  */

.media {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

.media-body {
    -ms-flex: 1;
    flex: 1
}

.media-title {
    color: var(--bs-dark);
}




/* =================================
 main container design start 
=====================================  */
.main-container {
    position: relative !important;
    max-width: 1440px auto !important;
}


/* =================================
 Navbar design Start
=====================================  */
.navbar {
    position: fixed;
    top: 0;
    left: 240px;
    height: 80px;
    background: #2E2E2E;
    transition: 0.5s linear;
    padding: 0 10px;
    display: -webkit-inline-box;
    display: inline-box;
    width: -webkit-fill-available !important;
    width: -moz-fill-available !important;
    width: fill-available !important;
    width: -moz-available !important;
    z-index: 100;
}

.navbar-content {
    position: relative;
    display: flex;
    justify-content: end;
    height: 100%;
    align-items: center;
    gap: 30px;
    transition: 0.5s linear;
}

.dropdown-toggle {
    cursor: pointer;
}

.dropdown-menu {
    margin-top: 20px !important;
}

.main-container.active .navbar {
    left: 80px;
}

.dropdown-menu-lg {
    width: 320px;
}

.dropdown-menu.show {
    top: 100% !important;
    display: block;
}


.dropdown-item-icon {
    display: block;
    border-radius: 3px;
    line-height: 34px;
    text-align: center;
    padding: 15px 0 9px;
    display: block;
    border: 1px solid transparent;
    color: #757575;
    cursor: pointer;
}



.dropdown-item-icon span {
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.dropdown-item-icon:hover {
    color: #000;
}



.search-bar {
    position: relative;
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 40px;
    transition: 0.5s;
    /* box-shadow: 0 0 0 5px #2573ef; */
    border: 1px solid rgba(0, 0, 0, 0.4);
    overflow: hidden;
}

.search-bar.active {
    width: 360px;
    display: flex;
}

.search-bar .search-icon {
    position: relative;
    width: 39px;
    height: 100%;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    cursor: pointer;
    font-size: 15px;
}


.search-bar .search-input {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar .search-input input {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 10px 0;
    z-index: 100;
}

.search-bar .search_btn {
    position: relative;
    width: 100px;
    height: 100%;
    border: none;
    background: var(--bs-info);
    font-size: 15px;
    color: #fff;
}

/* =================================
 Navbar design End
=====================================  */


/* =================================
 Sidebar design Start
=====================================  */

.sidebar {
    position: fixed;
    top: 0;
    width: 240px;
    min-height: 100vh;
    background: #f3f3f3;
    transition: 0.5s linear;
    padding: 10px;
    z-index: 100;
    overflow-x: visible;
}

.sidebar.active {
    width: 80px;
}

#sidebar_logo {
    position: relative;
    display: flex;
    align-items: center;
    gap: 40px;
    margin-bottom: 20px;
    padding: 0 20px;
    transition: all 0.3s;
}

#sidebar_logo span {
    font-size: 24px;
    transition: all 0.3s;
}

.sidebar.active #sidebar_logo h4 {
    display: none;
    transition: all 0.3s;
}

.sidebar .sidebar_nav {
    position: relative;
    height: 90vh;
    overflow-x: visible;
    overflow-y: scroll;
    z-index: 1000;
}

.sidebar .sidebar_nav::-webkit-scrollbar {
    display: none;
}


.menu_btn {
    position: relative;
}

.menu_btn #sidebar-toggle2 {
    position: absolute;
    right: -10px;
    top: -40px;
    width: 28px;
    height: 28px;
    /* border-radius: 8px; */
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    cursor: pointer;
    transition: all 0.4s;
    z-index: 10000;
}

.menu_btn {
    position: relative;
}

.menu_btn .menu_arrow {
    position: absolute;
    right: -25px;
    top: 3.5%;
    width: 28px;
    height: 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    cursor: pointer;
    transition: all 0.4s;
}

.menu_arrow i {
    transition: all 0.4s;
}

#sidebar-toggle2 i {
    transition: all 0.4s;
}

.sidebar.active #sidebar-toggle2 i {
    transform: rotate(180deg);
}




.sidebar_menu .title {
    font-size: 10px;
    font-weight: 500;
    color: #757575;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.sidebar_menu ul {
    padding: 0;
    margin: 0;
}

.sidebar_menu ul li {
    position: relative;
    margin-bottom: 5px;
}

.sidebar_menu ul li a {
    display: flex;
    align-items: center;
    gap: 25px;
    font-size: 14px;
    font-weight: 500;
    color: #757575;
    padding: 12px 18px;
    border-radius: 8px;
}

.sidebar_menu ul li>a:hover,
.sidebar_menu ul li.my_active>a {
    color: #000;
    background: #fff;
    transition: all 0.3s;
    z-index: 1000;
}

.sidebar_menu ul li .my_icon {
    font-size: 20px;
}

.sidebar_menu ul li .my_arrow {
    font-size: 14px;
    transition: all 0.3s;
}

.sidebar_menu ul li.my_active .my_arrow {
    transform: rotate(180deg);
}

.sidebar_menu ul li .my_text {
    flex: 1;
}

.sidebar_menu.active ul>li>a.my_text {
    background-color: #000;
    color: #fff;
    z-index: 100;

}

.sidebar_menu .sub_menu {
    display: none;
    margin-left: 20px;
    padding-left: 20px;
    padding-top: 5px;
}

.sidebar_menu .sub_menu li a {
    padding: 10px 8px;
    font-size: 12px;
}

.sidebar_menu .sub_menu li a span i {
    transform: rotate(90deg);
}


.sidebar.active .sidebar_menu ul li .my_arrow {
    display: none;
}

.sidebar.active .sidebar_menu>ul>li>a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sidebar.active .sidebar_menu>ul>li>a .my_text {
    position: absolute;
    left: 70px;
    top: 0;
    /* transform: translateY(-50%); */
    padding: 10px;
    border-radius: 4px;
    color: #fff;
    background-color: #000;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
    z-index: 100000;
}

.sidebar.active .sidebar_menu>ul>li>a .my_text::after {
    content: "";
    position: absolute;
    left: -5px;
    top: 20%;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    background: #000;
    z-index: -1;
    transform: rotate(45deg);
}

.sidebar.active .sidebar_menu>ul>li>a:hover .my_text {
    left: 50px;
    opacity: 1;
    visibility: visible;
    z-index: 10000;
}

.sidebar.active .sidebar_menu .sub_menu {
    position: absolute;
    top: 30px;
    left: 40px;
    width: 200px;
    border-radius: 10px;
    padding: 10px 20px;
    border: 1px solid #f6f6f6;
    background-color: #fff;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
    z-index: 10000;
}





@media (max-width: 768px) {
    .sidebar.active .sidebar_menu ul li .my_arrow {
        display: block;
    }

    .sidebar.active .sidebar_menu>ul>li>a {
        position: relative;
        display: flex;
        align-items: center;
        gap: 20px;
    }


    .sidebar.active .sidebar_menu>ul>li>a .my_text {
        position: relative;
        color: #757575;
    }

    /* 
    .sidebar.active .menu>ul>li>a .my_text::after {
        content: "";
        position: absolute;
        left: -5px;
        top: 20%;
        width: 20px;
        height: 20px;
        border-radius: 2px;
        background: #000;
        z-index: -1;
        transform: rotate(45deg);
    }
    
    .sidebar.active .menu>ul>li>a:hover .my_text {
        left: 50px;
        opacity: 1;
        visibility: visible;
        z-index: 10000;
    }
    
    .sidebar.active .menu .sub_menu {
        position: absolute;
        top: 30px;
        left: 40px;
        width: 200px;
        border-radius: 10px;
        padding: 10px 20px;
        border: 1px solid #f6f6f6;
        background-color: #fff;
        box-shadow: 0 10px 8px rgba(0, 0, 0, 0.1);
        z-index: 10000;
    } */

}

/* =================================
 sidebar design End
=====================================  */


/* =================================
 main content design Start
=====================================  */
.main-content {
    display: -webkit-inline-box;
    width: -webkit-fill-available;
    min-height: 100vh;
    background-color: #fff;
    margin-top: 80px;
    margin-left: 240px;
    transition: 0.5s linear;
    padding: 10px 20px;
    position: relative;
}

.main-container.active .main-content {
    margin-left: 80px;
}

.main-content-topbar {
    gap: 20px;
}

.main-content-topbar input[type="date"] {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background: var(--bs-bg-color);
    color: var(--bs-text-color);
}

.main-content-topbar span {
    padding: 5px 20px;
    background: var(--bs-bg-color);
    border-radius: 5px;
    font-size: 17px;
    cursor: pointer;
}

.main-section {
    position: relative;
    width: 100%;
}

/* =================================
Dashboard page design start
=====================================  */

.chart-container {
    position: relative;
    width: 100%;
    height: 300px;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 20px;
    overflow: auto;
}

.content-container {
    position: relative;
    width: 100%;
    background-color: #f3f3f3;
    border-radius: 10px;
    padding: 20px;

}

.content-item {
    margin: 15px 0;
}


.content-item span {
    font-size: 20px;
    width: 100%;
    display: flex;
    padding: 10px 20px;
    border-radius: 5px;
    justify-content: center;
    align-items: center;
}

.content-item input {
    height: 20px;
    width: 20px;
}

.chart-container canvas {
    position: relative;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

table tbody tr,
table thead tr {
    border-bottom: 1px solid #ccc;
}


table tbody tr td {
    color: #555555;
    font-weight: 400;
}

/* =================================
Dashboard page design End
=====================================  */


/* =================================
 components / buttons page design start
=====================================  */
.main-content .button-box {
    position: relative;
    width: 100%;
    margin: auto;
    background-color: #f3f3f3;
    position: relative;
    padding: 20px;
    border-radius: 10px;
}

.main-content .button-box .buttons_group {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
}

.btn-gradient {
    background: rgb(2, 0, 36);
    background: linear-gradient(45deg, rgb(130, 205, 255) 0%, rgba(47, 92, 105, 0.804) 100%, rgb(5, 28, 32) 100%);
    border: none;
    outline: none;
    color: #fff
}

.btn-inverse-primary {
    background-color: var(--bs-primary);
    border: 1px solid var(--bs-primary);
    color: #fff;
}

.btn-inverse-primary:hover {
    color: var(--bs-primary);
}

.btn-inverse-primary:hover,
.btn-inverse-secondary:hover,
.btn-inverse-success:hover,
.btn-inverse-danger:hover,
.btn-inverse-warning:hover,
.btn-inverse-info:hover,
.btn-inverse-light:hover,
.btn-inverse-dark:hover {
    background-color: transparent;
}

.btn-inverse-secondary {
    background-color: var(--bs-secondary);
    border: 1px solid var(--bs-secondary);
    color: #fff;
}

.btn-inverse-secondary:hover {
    color: var(--bs-secondary);
}



.btn-inverse-success {
    background-color: var(--bs-success);
    border: 1px solid var(--bs-success);
    color: #fff;
}

.btn-inverse-success:hover {
    color: var(--bs-success);
}

.btn-inverse-danger {
    background-color: var(--bs-danger);
    border: 1px solid var(--bs-danger);
    color: #fff;
}

.btn-inverse-danger:hover {
    color: var(--bs-danger);
}

.btn-inverse-warning {
    background-color: var(--bs-warning);
    border: 1px solid var(--bs-warning);
    color: #fff;
}

.btn-inverse-warning:hover {
    color: var(--bs-warning);
}

.btn-inverse-info {
    background-color: var(--bs-info);
    border: 1px solid var(--bs-info);
    color: #fff;
}

.btn-inverse-info:hover {
    color: var(--bs-info);
}

.btn-inverse-light {
    background-color: var(--bs-light);
    border: 1px solid var(--bs-light);
    color: #000;
}

.btn-inverse-dark {
    background-color: var(--bs-dark);
    border: 1px solid var(--bs-dark);
    color: #fff;
}

.btn-inverse-dark:hover {
    color: var(--bs-dark);
}

.btn-link-primary {

    color: var(--bs-primary);
    text-decoration: underline;
}

.btn-link-secondary {

    color: var(--bs-secondary);
    text-decoration: underline;
}

.btn-link-success {
    color: var(--bs-success);
    text-decoration: underline;
}

.btn-link-warning {
    color: var(--bs-warning);
    text-decoration: underline;
}

.btn-link-danger {
    color: var(--bs-danger);
    text-decoration: underline;
}

.btn-link-info {
    color: var(--bs-info);
    text-decoration: underline;
}


.btn-link-light {
    color: var(--bs-light);
    text-decoration: underline;
}

.btn-link-dark {
    color: var(--bs-dark);
    text-decoration: underline;
}


.pagination-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-btn {
    border: 1px solid var(--bs-light);
    outline: none;
    background: var(--bs-info);
    color: var(--bs-light);
    padding: 10px 20px;
}

.pagination-btn:hover,
.pagination-btn.active {
    background: var(--bs-success);
}



/* =================================
 components / buttons page design End
=====================================  */


/* =================================
 components / accordion page design start
=====================================  */


.accordion {
    margin: 40px 0;
}

.accordion .item {
    border: none;
    margin-bottom: 50px;
    background: none;
}

.t-p {
    color: rgb(193 206 216);
    padding: 40px 30px 0px 30px;
}

.accordion .item .item-header h2 button.btn.btn-link {
    background: #333435;
    color: white;
    border-radius: 0px;
    font-family: 'Poppins';
    font-size: 16px;
    font-weight: 400;
    line-height: 2.5;
    text-decoration: none;
}

.accordion .item .item-header {
    border-bottom: none;
    background: transparent;
    padding: 0px;
    margin: 2px;
}

.accordion .item .item-header h2 button {
    color: white;
    font-size: 20px;
    padding: 15px;
    display: block;
    width: 100%;
    text-align: left;
}

.accordion .item .item-header h2 i {
    float: right;
    font-size: 30px;
    color: #eca300;
    background-color: black;
    width: 60px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.accordion button.btn.btn-link.collapsed i {
    transform: rotate(0deg);
}

.accordion button.btn.btn-link i {
    transform: rotate(180deg);
    transition: 0.5s;
}








.accordion-wrap {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.accordion-wrap a {
    color: #fff;
    text-decoration: none;
}

.accordion-wrap a:hover {
    text-decoration: none;
}

.accordion-wrap .accordion {
    position: relative;
    border-top: 1px solid #fff;
}

.accordion-wrap .accordion:last-child {
    border-bottom: 1px solid #fff;
}

.accordion-wrap .teaser {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    padding: 24px 100px 24px 0;
    position: relative;
}

.accordion-wrap .teaser:last-child {
    border-bottom: 1px solid #fff;
}

.accordion-wrap .time {
    margin-top: 5px;
    width: 200px;
}

.accordion-wrap .title .theme {
    opacity: .4;
}

@media (max-width: 990px) {
    .accordion-wrap {
        flex-direction: column;
    }

}

.accordion-wrap .content {
    padding: 0 120px 30px 200px;


}

@media (max-width: 1200px) {
    .accordion-wrap .content {
        padding: 0 120px 30px 0;
    }
}

.accordion-wrap .accordion-toggle {
    width: 100px;
    height: 100%;
    position: absolute;
    background-color: rgba(255, 255, 255, .14);
    right: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s ease;
}

.accordion-wrap .accordion-toggle span {
    background-color: #fff;
    transition: 0.3s ease;
}

.accordion-wrap .accordion-toggle span.one {
    height: 1px;
    width: 26px;
    position: absolute;
    top: 50%;
}

.accordion-wrap .accordion-toggle span.two {
    width: 1px;
    height: 26px;
    position: absolute;
    left: 50%;
    opacity: 0;
    transform: rotate(120deg);
}

.accordion-wrap .accordion.collapsed .accordion-toggle span.two {
    opacity: 1;
    transform: rotate(0);
}

/* =================================
 Accordion design End
=====================================  */






/* =================================
 analytics page design Start
=====================================  */
.analytics-card {
    position: relative;
    min-width: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    gap: 20px;
    background: var(--bs-bg-color);
}

.analytics-card p {
    font-size: 14px;
    color: var(--bs-text-color);
    display: flex;
    gap: 5px;
}

.analytics-card p span {
    color: var(--bs-success);
}

.analytics-card h2 {
    margin: 0;
    padding: 0;
    font-family: var(--bs-font-roboto);
    font-weight: 700;
    margin-bottom: 10px;

}

.analytics-card h5 {
    font-size: 16px;
    text-transform: capitalize;
    font-weight: 500;
}

.analytics-card .analytics-icon-content span {
    font-size: 50px;
    color: var(--bs-info);
}


#lineChart {
    width: 600px;
    height: 400px;
}

/* =================================
 analytics page design End
=====================================  */



/* =================================
 Widgets page design Start
=====================================  */
.widget-box {
    position: relative;
    border-radius: 10px;
}

.widget-box .widget-icon {
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.widget-box .widget-icon span {
    font-size: 24px;
}

/* .radial-progress {
    width: 80px;
    height: 80px;
    background: #000;
    border-radius: 50%;
    position: relative;
    z-index: 10;
} */

/* .radial-progress::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 120%;
    height: 120%;
    border-radius: 50%;
    background-color: #eca300;
} */

.radial-progress-primary {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(var(--bs-primary) 75%, var(--bs-opacity-dark) 0);
}

.radial-progress-secondary {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(var(--bs-secondary) 75%, var(--bs-opacity-dark) 0);
}

.radial-progress-info {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(var(--bs-info) 75%, var(--bs-opacity-dark) 0);
}

.radial-progress-success {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(var(--bs-success) 75%, var(--bs-opacity-dark) 0);
}

.radial-progress-warning {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(var(--bs-warning) 75%, var(--bs-opacity-dark) 0);
}

.radial-progress-danger {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(var(--bs-danger) 75%, var(--bs-opacity-dark) 0);
}

.radial-progress-light {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(var(--bs-light) 75%, var(--bs-opacity-dark) 0);
}

.radial-progress-dark {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background:
        radial-gradient(closest-side, white 79%, transparent 80% 100%),
        conic-gradient(var(--bs-dark) 75%, var(--bs-opacity-dark) 0);
}


/* =================================
 Widgets page design End
=====================================  */


/* =================================
 main container design End
=====================================  */




/* =================================
 Responsive design Start
=====================================  */
@media (max-width: 768px) {
    .sidebar {
        left: -300px;
        top: 0;
        z-index: 1000;
    }

    .sidebar.active {
        left: 0;
        width: 200px;
    }

    .navbar {
        left: 0;
    }

    .main-container.active .navbar {
        left: 0;
    }

    .main-content {
        margin-left: 0;
    }

    .main-container.active .main-content {

        margin-left: 0;
    }
}

@media (max-width: 480px) {}


/* =================================
 Responsive design End
=====================================  */